footer
        .container
          .row.contacts
            .col-md-3.col-md-offset-1.col-xs-4.col-sm-4.address
              i.fa.fa-map-marker.fa-2x(title='')
              | Москва, наб. Академика Туполева,
              br 
              |  д. 15, корп. 22
            .col-md-4.col-xs-4.col-sm-4.feedback
              .center
                
                a(href='/feedback') 
                  i.fa.fa-comment-o.fa-2x(title='')
                  span Обратная связь
                br
                .space
                | &copy; 2017 Да-Стратегия               
            .col-md-3.col-md-offset-1.col-xs-4.col-sm-4.social
              //- | +7 499 400-56-39
              .center
                br
                script(src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
                script(src='//yastatic.net/share2/share.js')
                .ya-share2(data-services='vkontakte,facebook,twitter', data-limit='3')
// Slider
script(src='/js/slides.min.jquery.js')
script(src='/js/elements.js')
