footer
        .container
          .row.contacts
            .col-md-4.col-xs-12.col-sm-4.address
              i.fa.fa-map-marker.fa-2x(title='')
              | Москва, наб. Академика Туполева, д. 15, корп. 22
            .col-md-4.col-xs-6.col-sm-4.feedback
              .center
                
                a(href='/feedback') 
                  i.fa.fa-comment-o.fa-2x(title='')
                  span Обратная связь
                br
                .space
                | &copy; 2017 Да-Стратегия               
            .col-md-3.col-md-offset-1.col-xs-6.col-sm-4.social
              .center
                br
                script(src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
                script(src='//yastatic.net/share2/share.js')
                .ya-share2(data-services='vkontakte,facebook,twitter', data-limit='3')

script(src='/js/elements.js')

// Yandex.Metrika counter
script(type='text/javascript').
  (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42257634 = new Ya.Metrika({ id:42257634, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
noscript
  div
    img(src='https://mc.yandex.ru/watch/42257634', style='position:absolute; left:-9999px;', alt='')
// /Yandex.Metrika counter
