footer
        .container
          .row.contacts
            .col-md-3.col-md-offset-1.col-xs-4.col-sm-4.address
              i.fa.fa-map-marker.fa-2x(title='')
              | Правильный адрес
            .col-md-3.col-md-offset-1.col-xs-4.col-sm-4.mail
              i.fa.fa-envelope-o.fa-2x(title='')
              | info@da-strateg.ru
            .col-md-3.col-md-offset-1.col-xs-4.col-sm-4.phone
              i.fa.fa-phone.fa-2x(title='')
              | +7 499 400-56-39
// Slider
script(src='/js/slides.min.jquery.js')
script(src='/js/elements.js')            