head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Реестр
    // Styles

    link(href='/css/bootstrap.min.css', rel='stylesheet') 

    link(rel='stylesheet', type='text/css', href='/fonts/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='/css/responsive.css')
    link(rel='icon', href='/img/1.ico', type='image/x-icon')


    link(href='/css/slick.css', rel='stylesheet')
    link(href='/css/slick-theme.css', rel='stylesheet')
        
    link(href='/css/styles.css', rel='stylesheet')

    // LESS
    script(src='/js/less.js')
    script.
      less = { env: 'development' };
    script.
      less.watch();
    // Scripts
    script(src='/js/jquery-3.1.1.min.js')

    //  slick
    script(type='text/javascript', src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/js/slick.min.js')
    //  /slick  

    script(src='/js/bootstrap.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

    //select2
    link(href='/css/select2.css', rel='stylesheet')
    script(src='/js/select2.js')  

    //select2  

    //capcha
    script(src='https://www.google.com/recaptcha/api.js')



