doctype html
html(lang='en')
  //подключение header
  include includes/head 

  body
    .wrapper
      .navigation
        nav.navbar.navbar-default
          .container
            // Brand and toggle get grouped for better mobile display
            p.nav-description Национальный реестр интегрированных отчетов
            // <h5>Краткое пояснение, что это</h5>
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                img(src='img/da-strateg-logo.png', alt='logo1')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/main') На главную
                li
                  a(href='/search') Поиск
                li
                  a(href='/stats') Интерактивная статистика
                li
                  a(href='/register-report') Регистрация отчета
                li
                  a(href='register-company') Регистрация компании
            // /.navbar-collapse
          // /.container-fluid
      // /container navigation
      .container.mainpage
        main.container
          .row.mainpage-slider.col-md-12.col-xs-12.col-sm-12
            // слайдер
            #myCarousel.carousel.slide
              .carousel-inner
                .item.active
                  .col-md-11.col-md-offset-1.col-xs-12.col-sm-12(data-toggle='tooltip', data-placement='top', data-html='true')
                    a(href='#', target='_blank', title='Росатом / 2009 / 2010')
                      img(src='img/2009.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2010 / 2011')
                      img(src='img/2010.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2011 / 2012')
                      img(src='img/2011.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2012 / 2013')
                      img(src='img/2012.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2013 / 2014')
                      img(src='img/2013.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2014 / 2015')
                      img(src='img/2014.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2009 / 2010')
                      img(src='img/2009.jpg', alt='')
                // /Slide1
                .item
                  .col-md-11.col-md-offset-1.col-xs-12.col-sm-12(data-toggle='tooltip', data-placement='top', data-html='true')
                    a(href='#', target='_blank', title='Росатом / 2011 / 2012')
                      img(src='img/2011.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2012 / 2013')
                      img(src='img/2012.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2013 / 2014')
                      img(src='img/2013.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2014 / 2015')
                      img(src='img/2014.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2009 / 2010')
                      img(src='img/2009.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2010 / 2011')
                      img(src='img/2010.jpg', alt='')
                    a(href='#', target='_blank', title='Росатом / 2011 / 2012')
                      img(src='img/2011.jpg', alt='')
                // /Slide2
              // /.carousel-inner
              .control-box
                a.carousel-control.left(data-slide='prev', href='#myCarousel')
                a.carousel-control.right(data-slide='next', href='#myCarousel')
              // /.control-box
            // /#myCarousel
          // /mainpage-slider
          .space.col-md-12.col-xs-12.col-sm-12
          .row.stat-and-news
            .col-md-6.col-xs-12.col-sm-12.mainpage-stat
              .stat-caption
                | В мире 10000 ИО, 3000 компаний, выпускающих ИО
              .stat-content
                img(src=' img/stat-bg.jpg', alt='')
                center
                  button.btn.btn-default.btn-lg.green-btn(type='button', title='Перейти на страницу поиска')
                    a(href='search.jade', target='_blank', title='')
                      span.glyphicon.glyphicon-search
                      span.uppercase Поиск
                      br
                      |  Перейти на страницу поиска
            .col-md-4.col-md-offset-1.col-xs-12.col-sm-12.mainpage-news
              .news-caption.uppercase
                | Новости
              .news
                .new
                  h3 Заголовок новости 1
                  p 1 ноября 2016, 10:38
                  a.underline(href='#', target='_blank', title='') Читать далее >>> 
                  hr
                .new
                  h3 Заголовок новости 2
                  p 1 ноября 2016, 10:38
                  a.underline(href='#', target='_blank', title='') Читать далее >>> 
                  hr
                .new
                  h3 Заголовок новости 3
                  p 1 ноября 2016, 10:38
                  a.underline(href='#', target='_blank', title='') Читать далее >>> 
                  hr
            // /.mainpage-news
          // / row stat & news
          .col-md-12.col-xs-12.col-sm-12.partners
            h2 Проект подготовлен в сотрудничестве с
            .logo
              a(href='http://da-strateg.ru/', target='_blank', title='Перейти на сайт компании')
                img(src='img/da-strateg-logo.png', alt='logo1')
            .logo
              a(href='http://ir.org.ru/', target='_blank', title='Перейти на сайт компании')
                img(src=' img/rrc-logo.png', alt='logo2')

          // /.partners
      // /mainpage

      //подключение footer
      include includes/footer

      // Slider
      script(src='/js/slides.min.jquery.js')
      script(src='/js/elements.js')