doctype html
html(lang='en')
  //подключение header
  include includes/head 
  meta(refresh='10;/main')
  body
    .wrapper
      .navigation
        nav.navbar.navbar-default
          .container
            // Brand and toggle get grouped for better mobile display
            //- p.nav-description Национальный реестр интегрированных отчетов
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='http://da-strateg.ru/')
                img(src='/img/da-strateg-logo.png', alt='logo1')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/main') На главную
                li
                  a(href='/search') Поиск
                li
                  a(href='/stats') Интерактивная статистика
                li
                  a(href='/register-report') Регистрация отчета
                li
                  a(href='/register-company') Регистрация компании
            // /.navbar-collapse
          // /.container-fluid
      // /container navigation
      .container.mainpage
        main.container
          .row.mainpage-slider.col-md-12.col-xs-12.col-sm-12
            p
                | Уважаемый, #{user}!
                br
                | Спасибо за регистрацию #{object}. Наш администратор в ближайшее время проведет провекру данных и одобрит публикацию.
      //подключение footer
      include includes/footer