doctype html
html(lang='en')
  //подключение header
  include includes/head 
  body
    .wrapper
      .navigation
        nav.navbar.navbar-default
          .container
            // Brand and toggle get grouped for better mobile display
            p.nav-description Национальный реестр интегрированных отчетов
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                img(src='img/da-strateg-logo.png', alt='logo1')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/main') На главную
                li
                  a(href='/search') Поиск
                li
                  a(href='/stats') Интерактивная статистика
                li
                  a(href='/register-report') Регистрация отчета
                li.active
                  a(href='/register-company') Регистрация компании
            // /.navbar-collapse
          // /.container-fluid
      // /container navigation
      main.container
        .row
          h1.uppercase.center Регистрация компании
          .col-md-11.col-md-offset-1.col-xs-12.col-sm-12.profile-company
            br
            .row.register-company
              form#register-company.edit_form(action='#', method='post', name='form_register_company')
                .col-md-12.col-xs-12.col-sm-12
                  #messenger-company
                  h2.sea-green Анкета регистрации профиля организации
                  .col-md-6.col-xs-12.col-sm-10.register-left
                    h3 Информация об организации
                    div
                      select(name='organization_form')
                        option(value='0') Организационно-правовая форма
                        option(value='1') Все формы
                        option(value='2')  Публичное акционерное общество
                        option(value='3')  Непубличное акционерное общество
                        option(value='4')  Общество с ограниченной ответственностью
                        option(value='5')  Государственная корпорация
                        option(value='6')  Государственное или муниципальное унитарное предприятие
                        option(value='7')  Прочие
                      br
                    div
                      | Название организации 
                      span.red  * 
                      input(type='text', name='company_name')
                      br
                    div
                      | Адрес официального сайта 
                      span.red  * 
                      input(type='text', name='company_site')
                      br
                    div
                      | Листинг 
                      label.radio-inline
                        input#radio1(name='radioGroup', value='option1', type='radio')
                        |  Да
                      label.radio-inline
                        input#radio2(name='radioGroup', value='option2', checked='', type='radio')
                        |  Нет
                      br
                      input.change-w(name='listing', placeholder='Если да, то на какой бирже')
                      br
                    div
                      select(name='economy')
                        for val in sector
                          option(value='#{val}') #{val}
                      br
                    div
                      select(name='company-size')
                        option(value='0') Размер предприятия
                        option(value='1') Все размеры
                        option(value='2', title='Оборот до 800 млн рублей, количество сотрудников до 100 человек')  Малое предприятие
                        option(value='3', title='Оборот до 2 млрд рублей, количество сотрудников до 250 человек') Среднее предприятие
                        option(value='4', title='Оборот свыше 2 млрд рублей, количество сотрудников свыше 250 человек') Крупное предприятие
                      br
                    div
                      select(name='ownership')
                        option(value='0')  Форма собственности
                        option(value='1', title='Условия отнесения: 1. Не менее 50 % +1 акция компании принадлежат государству/субъекту РФ; 2. Компания является дочерней (независимо от уровня) по отношению к компании, которая принадлежит государству/субъекту РФ; 3. Суммарные 50 % +1 акция принадлежат компаниям, которые принадлежат государству/субъекту РФ') Государственная
                        option(value='2')  Частная
                      br
                    .form-group
                      | Краткое описание организации 
                      span.red  *
                      input.change-w(type='text', name='company_description')
                      br
                    div
                      | ФИО директора организации 
                      span.red  *
                      input.change-w(type='text', name='CEO')
                      br
                    div
                      | Юридич. адрес головного офиса 
                      span.red  *
                      input.change-w(type='text', name='company_law_address')
                      br
                  // /register-company-left
                  .col-md-5.col-xs-12.col-sm-10.register-right
                    h3 Контактная информация
                    strong Руководитель, ответственный за написание отчета
                    div
                      | ФИО 
                      span.red  *
                      input.change-w(type='text', name='writer_fio')
                      br
                    div
                      | Должность 
                      span.red  *
                      input.change-w(type='text', name='writer_position')
                      br
                    div
                      | Электронная почта 
                      span.red  *
                      input.change-w(type='text', name='writer_email')
                      br
                    div
                      | Телефон 
                      span.red  *
                      input.change-w(type='text', name='writer_phone', pattern='[0-9]')
                      br
                    strong Пользователь, регистрирующий компанию/отчет
                    div
                      | ФИО 
                      span.red  *
                      input.change-w(type='text', name='registrator_fio')
                      br
                    div
                      | Должность 
                      span.red  *
                      input.change-w(type='text', name='registrator_position')
                      br
                    div
                      | Электронная почта 
                      span.red  *
                      input.change-w(type='text', name='registrator_email')
                      br
                    div
                      | Телефон 
                      span.red  *
                      input.change-w(type='text', name='registrator_phone')
                      br
                  // /register-company-right
                .buttons.center
                  .upload
                    label.btn.btn-default.green-btn(for='upload-logo')
                      i.fa.fa-image(aria-hidden='true')
                      |  Загрузить логотип компании (в формате JPG или PNG)
                    input#upload-logo(type='file', name='upload')
                  .submit
                    label.btn.btn-default.green-btn(for='submit-reg-company')  Отправить
                    input#submit-reg-company(type='submit', name='submit')
            // /row register-company
          // /profile-company
        // /container
      .space
      .space

      //подключение footer
      include includes/footer