<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Реестр</title>

    <!-- Styles -->
    <link href="../../src/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../src/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../src/css/responsive.css">
    <link href="../../src/css/styles.css" rel="stylesheet">
 
    <!--LESS-->
    <script src="../../src/js/less.js"></script>
    <script>less = { env: 'development' };</script>
    <script>less.watch();</script>

    <!-- Scripts -->
    <script src="../../src/js/jquery-3.1.1.min.js"></script>
    <script src="../../src/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class="wrapper">
    <div class="navigation"> 
        <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <p class="nav-description">Национальный реестр интегрированных отчетов</p>
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
              <a class="navbar-brand" href="#"><img src="../../src/img/da-strateg-logo.png" alt="logo1"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="main.html">На главную</a></li>
                <li class="active"><a href="search.html">Поиск</a></li>
                <li><a href="stats.html">Интерактивная статистика</a></li>
                <li><a href="register.html">Регистрация отчета и компании</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>  
    </div> <!--/container navigation-->

    <main class="container">
     <div class="row">
     <h1 class="uppercase center">Регистрация отчета и компании</h1>
        <div class="col-md-11 col-md-offset-1  col-xs-12 col-sm-12 profile-company">
            
            <br/>
            <div class="row register-company">
              <div class="col-md-12 col-xs-12 col-sm-12">
              <h2 class="sea-green">Анкета регистрации профиля организации</h2>
                <div class="col-md-5 col-md-offset-1 col-xs-12 col-sm-12 register-company-left">
                  <h3>Информация об организации</h3>
                  <select name="organization-form">
                    <option value="0">Организационно-правовая форма</option>
                    <option value="1">Все формы</option>
                    <option value="2"> Публичное акционерное общество</option>
                    <option value="3"> Непубличное акционерное общество</option>
                    <option value="4"> Общество с ограниченной ответственностью</option>
                    <option value="5"> Государственная корпорация</option>
                    <option value="6"> Государственное или муниципальное унитарное предприятие</option>
                    <option value="7"> Прочие</option>
                 </select> <br/>

                 Название организации <input name="name">
                 <br>                   
                 Адрес официального сайта <input name="name">
                 <br>                   



                </div> <!--/register-company-left-->               

                <div class="col-md-5 col-md-offset-1 col-xs-12 col-sm-12 register-company-right">
                  <h3>Контактная информация</h3>

                </div><!--/register-company-right-->   
  
              </div>
            </div> <!--/row register-company-->
            <div class="row register-report">
               <div class="col-md-12 col-xs-12 col-sm-12">
                <h2 class="sea-green">Анкета регистрации профиля отчета</h2>
                <div class="col-md-5 col-md-offset-1 col-xs-12 col-sm-12 register-company-left">


                </div> <!--/register-report-left-->               

                <div class="col-md-5 col-md-offset-1 col-xs-12 col-sm-12 register-company-right">

                </div><!--/register-report-right-->   


               </div>
            </div> <!--/row register-report-->
         
        </div>

     </div> 

    </main>
    <div class="space"></div><div class="space"></div>

    <footer>
    <div class="container">
    <div class="row contacts">
       <div class="col-md-3 col-md-offset-1  col-xs-4 col-sm-4  address">
        <i class="fa fa-map-marker fa-2x" title=""></i>Правильный адрес
      </div>       
      <div class="col-md-3 col-md-offset-1  col-xs-4 col-sm-4  mail">
        <i class="fa fa-envelope-o fa-2x" title=""></i>info@da-strateg.ru
      </div>       
      <div class="col-md-3 col-md-offset-1  col-xs-4 col-sm-4  phone">
        <i class="fa fa-phone fa-2x" title=""></i>+7 499 400-56-39
      </div>
    </div>   
    </div>
  </footer>

  <!--Slider etc-->
  <script src="../../src/js/slides.min.jquery.js"></script>
  <script src="../../src/js/elements.js"></script>



    </div> <!--/wrapper-->
  </body>
</html>