doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Реестр
    // Styles
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='css/responsive.css')
    link(href='css/styles.css', rel='stylesheet')
    // LESS
    script(src='js/less.js')
    script.
      less = { env: 'development' };
    script.
      less.watch();
    // Scripts
    script(src='js/jquery-3.1.1.min.js')
    script(src='js/bootstrap.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .wrapper
      .navigation
        nav.navbar.navbar-default
          .container
            // Brand and toggle get grouped for better mobile display
            h1 Национальный реестр интегрированных отчетов
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                img(src='img/da-strateg-logo.png', alt='logo1')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='main') На главную
                li.active
                  a(href='search') Поиск
                li
                  a(href='stats') Интерактивная статистика
                li
                  a(href='register') Регистрация отчета и компании
            // /.navbar-collapse
          // /.container-fluid
      // /container navigation
      main.container
        .row
          .search-panel.col-md-5.col-xs-12.col-sm-12
            // Навигация
            ul.nav.nav-tabs(role='tablist')
              li.active
                a(href='#search-report', aria-controls='search-report', role='tab', data-toggle='tab') Поиск отчета
              li
                a(href='#search-organization', aria-controls='search-organization', role='tab', data-toggle='tab') Поиск организации
            // Содержимое вкладок
            .tab-content
              #search-report.tab-pane.active(role='tabpanel')
                form.navbar-form.navbar-left(role='search')
                  .form-group
                    input.form-control(type='text', placeholder='Search')
                  button.btn.btn-default.green-btn(type='submit')
                    i.fa.fa-search(aria-hidden='true')
                    | Поиск
                  br
                  button.btn.btn-default.green-btn(type='submit')
                    i.fa.fa-times(aria-hidden='true')
                    | Очистить
                  br
                  br
                  select(name='report-year')
                    option(value='0') Отчетный год
                    option(value='1') Все отчетные года
                    option(value='2') 2009
                    option(value='3') 2010
                    option(value='4') 2011
                    option(value='5') 2012
                    option(value='6') 2013
                    option(value='7') 2014
                    option(value='8') 2015
                  select(name='economy')
                    option(value='1') Отрасль экономики
                    option(value='2') Все отрасли
                    option(value='3') Агропромышленный комплекс
                    option(value='4')  Атомная промышленность
                    option(value='5')  Банки и др. инвестиционно-финансовые организации
                    option(value='6')  Жилищно-коммунальное хозяйство
                    option(value='7')  Здравоохранение и фармацевтическая промышленность
                    option(value='8')  Инжиниринг, промыш.-инфраструктурное строительство
                    option(value='7')  Информационные технологии
                    option(value='9')  Легкая промышленность
                    option(value='10')  Лесная и целлюлозно-бумажная промышленность
                    option(value='11')  Машиностроение
                    option(value='12')  Наука
                    option(value='13')  Нефтяная и нефтегазовая промышленность
                    option(value='14')  Общественное питание
                    option(value='15')  Оптовая торговля
                    option(value='16')  Пищевая промышленность
                    option(value='17')  Полиграфическая промышленность
                    option(value='18')  Промышленность драгоценных металлов и алмазов
                    option(value='19')  Промышленность строительных материалов
                    option(value='20')  Розничная торговля
                    option(value='21')  Сервисные компании
                    option(value='22')  СМИ
                    option(value='23')  Страхование
                    option(value='24')  Строительство
                    option(value='25')  Табачная промышленность
                    option(value='26')  Упаковка
                    option(value='27')  Химическая и нефтегазовая промышленность
                    option(value='28')  Цветная металлургия
                    option(value='29')  Черная металлургия
                    option(value='30')  Электроэнергетика
                  br
                  select(name='headquarters')
                    option(value='0')  Местонахождение штаб-квартиры
                    option(value='1')  Местонахождение 1
                    option(value='2')  Местонахождение 2
                    option(value='3')  Местонахождение 3
                  br
                  select(name='company-size')
                    option(value='0') Размер предприятия
                    option(value='1') Все размеры
                    option(value='2', title='Оборот до 800 млн рублей, количество сотрудников до 100 человек')  Малое предприятие
                    option(value='3', title='Оборот до 2 млрд рублей, количество сотрудников до 250 человек') Среднее предприятие
                    option(value='4', title='Оборот свыше 2 млрд рублей, количество сотрудников свыше 250 человек') Крупное предприятие
                  br
                  select(name='organization-form')
                    option(value='0') Организационно-правовая форма
                    option(value='1') Все формы
                    option(value='2')  Публичное акционерное общество
                    option(value='3')  Непубличное акционерное общество
                    option(value='4')  Общество с ограниченной ответственностью
                    option(value='5')  Государственная корпорация
                    option(value='6')  Государственное или муниципальное унитарное предприятие
                    option(value='7')  Прочие
                  br
                  select(name='ownership')
                    option(value='0')  Форма собственности
                    option(value='1', title='Условия отнесения: 1. Не менее 50 % +1 акция компании принадлежат государству/субъекту РФ; 2. Компания является дочерней (независимо от уровня) по отношению к компании, которая принадлежит государству/субъекту РФ; 3. Суммарные 50 % +1 акция принадлежат компаниям, которые принадлежат государству/субъекту РФ') Государственная
                    option(value='2')  Частная
                  br
                  strong Наличие стандартов
                  br
                  input(type='checkbox', value='0')
                  |  Все стандарты
                  br
                  input(type='checkbox', value='1')
                  |  Международный стандарт ИО
                  br
                  input(type='checkbox', value='2')
                  |  GRI – G1
                  br
                  input(type='checkbox', value='3')
                  |  GRI – G2
                  br
                  input(type='checkbox', value='4')
                  |  GRI – G3
                  br
                  input(type='checkbox', value='5')
                  |  GRI – G3.1
                  br
                  input(type='checkbox', value='6')
                  |  GRI – G4
                  br
                  input(type='checkbox', value='7')
                  |  AA1000 SES
                  br
                  input(type='checkbox', value='8')
                  |  AA1000 APS
                  br
                  input(type='checkbox', value='9')
                  |  Другие стандарты
                  br
                  select(multiple='', name='best-practice')
                    option(value='0') Лучшая практика
                    option(value='1')  Лучшее раскрытие стратегии
                    option(value='2')  Лучшее раскрытие бизнес-модели
                    option(value='3')  Лучшее раскрытие информации о рисках
                    option(value='4')  Лучшее раскрытие информации о корпоративном управлении
                    option(value='5')  Лучшее раскрытие информации о деятельности в области УР
                    option(value='6')  Лучшее раскрытие информации о системе публичной отчетности
                  br
                  button.btn.btn-default.green-btn(type='submit')
                    i.fa.fa-search(aria-hidden='true')
                    | Поиск
                  button.btn.btn-default.green-btn(type='submit')
                    i.fa.fa-times(aria-hidden='true')
                    | Сброс
                  br
                  br
              // /поиск отчета #search-report
              #search-organization.tab-pane(role='tabpanel')
                form.navbar-form.navbar-left(role='search')
                  .form-group
                    input.form-control(type='text', placeholder='Search')
                  button.btn.btn-default.green-btn(type='submit')
                    i.fa.fa-search(aria-hidden='true')
                    | Поиск
                  br
                  button.btn.btn-default.green-btn(type='submit')
                    i.fa.fa-times(aria-hidden='true')
                    | Очистить
                  br
                  br
                  select(name='economy')
                    option(value='0') Все отрасли
                    option(value='1') Агропромышленный комплекс
                    option(value='2')  Атомная промышленность
                    option(value='3')  Банки и др. инвестиционно-финансовые организации
                    option(value='4')  Жилищно-коммунальное хозяйство
                    option(value='5')  Здравоохранение и фармацевтическая промышленность
                    option(value='6')  Инжиниринг, промыш.-инфраструктурное строительств
                    option(value='7')  Информационные технологии
                    option(value='8')  Легкая промышленность
                    option(value='9')  Лесная и целлюлозно-бумажная промышленность
                    option(value='10')  Машиностроение
                    option(value='11')  Наука
                    option(value='12')  Нефтяная и нефтегазовая промышленность
                    option(value='13')  Общественное питание
                    option(value='14')  Оптовая торговля
                    option(value='15')  Пищевая промышленность
                    option(value='16')  Полиграфическая промышленность
                    option(value='17')  Промышленность драгоценных металлов и алмазов
                    option(value='18')  Промышленность строительных материалов
                    option(value='19')  Розничная торговля
                    option(value='20')  Сервисные компании
                    option(value='21')  СМИ
                    option(value='22')  Страхование
                    option(value='23')  Строительство
                    option(value='24')  Табачная промышленность
                    option(value='24')  Упаковка
                    option(value='25')  Химическая и нефтегазовая промышленность
                    option(value='26')  Цветная металлургия
                    option(value='27')  Черная металлургия
                    option(value='28')  Электроэнергетика
                  br
                  select(name='headquarters')
                    option(value='0')  Местонахождение штаб-квартиры
                    option(value='1')  Местонахождение 1
                    option(value='2')  Местонахождение 2
                    option(value='3')  Местонахождение 3
                  br
                  select(name='company-size')
                    option(value='0') Размер предприятия
                    option(value='1') Все размеры
                    option(value='2', title='Оборот до 800 млн рублей, количество сотрудников до 100 человек')  Малое предприятие
                    option(value='3', title='Оборот до 2 млрд рублей, количество сотрудников до 250 человек') Среднее предприятие
                    option(value='4', title='Оборот свыше 2 млрд рублей, количество сотрудников свыше 250 человек') Крупное предприятие
                  br

                  br
                  button.btn.btn-default.green-btn(type='submit')
                    i.fa.fa-search(aria-hidden='true')
                    | Поиск
                  button.btn.btn-default.green-btn(type='submit')
                    i.fa.fa-times(aria-hidden='true')
                    | Сброс
                  br
                  br
              // /search-organization
            // /tab-content
          // /search-panel
          .search-results-report.col-md-7.col-xs-8.col-sm-8
            h3 Результаты поиска по отчету
            .sort
              strong Сортировка:
              .var-sort
                span(rel='name')
                  a(href='#') Название компании
                span(rel='report-year')
                  a(href='#') Отчетный год
                span(rel='economy')
                  a(href='#') Отрасль экономики
                span(rel='company-size')
                  a(href='#') Размер предприятия
            // /sort
            .change-view
              strong Вид:
              .var-view
                .view-list
                  a.showView1(href='#', title='Список')
                    i.fa.fa-list.fa-3x(aria-hidden='true')
                .view-table
                  a.showView2(href='#', title='Таблица')
                    i.fa.fa-table.fa-3x(aria-hidden='true')
                .view-icon
                  a.showView3(href='#', title='Средние значки')
                    i.fa.fa-picture-o.fa-2x(aria-hidden='true')
                .view-big-icon
                  a.showView4(href='#', title='Крупные значки')
                    i.fa.fa-picture-o.fa-3x(aria-hidden='true')
            // /change-view
            .view
              #view1.list
                .element
                  a(href='report', title='Перейти на страницу отчета') Компания: Название отчета - год
                .element
                  a(href='report', title='Перейти на страницу отчета') Компания: Название отчета - год
                .element
                  a(href='report', title='Перейти на страницу отчета') Компания: Название отчета - год
              #view2.table
                table.table
                  thead
                    tr
                      th Компания
                      th Название отчета
                      th Год
                      th Стандарт
                  tbody
                    tr
                      td
                        a(href='#', title='Перейти на страницу компании') Компания
                      td
                        a(href='#', title='Перейти на страницу отчета') Название отчета
                      td Год
                      td Стандарт
                    tr
                      td
                        a(href='#', title='Перейти на страницу компании') Компания
                      td
                        a(href='#', title='Перейти на страницу отчета') Название отчета
                      td Год
                      td Стандарт
                    tr
                      td
                        a(href='#', title='Перейти на страницу компании') Компания
                      td
                        a(href='#', title='Перейти на страницу отчета') Название отчета
                      td Год
                      td Стандарт
              #view3.icon
                .element
                  a(href='report', title='Перейти на страницу отчета')
                    img(src='img/2009.jpg', alt='icon')
                .element
                  a(href='report', title='Перейти на страницу отчета')
                    img(src='img/2010.jpg', alt='icon')
                .element
                  a(href='report', title='Перейти на страницу отчета')
                    img(src='img/2011.jpg', alt='icon')
              #view4.big-icon
                .element
                  a(href='report', title='Перейти на страницу отчета')
                    img(src='img/2009.jpg', alt='icon')
                .element
                  a(href='report', title='Перейти на страницу отчета')
                    img(src='img/2010.jpg', alt='icon')
                .element
                  a(href='report', title='Перейти на страницу отчета')
                    img(src='img/2011.jpg', alt='icon')
          // /search-results-report
          // Результаты поиска по организации
          .search-results-organization.col-md-7.col-xs-8.col-sm-8
            h3 Результаты поиска по организации
            .sort
              strong Сортировка:
              .var-sort
                span(rel='name')
                  a(href='#') Название компании
                span(rel='economy')
                  a(href='#') Отрасль экономики
                span(rel='company-size')
                  a(href='#') Размер предприятия
            // /sort
            .change-view
              strong Вид:
              .var-view
                .view-list
                  a.o-showView1(href='#', title='Список')
                    i.fa.fa-list.fa-3x(aria-hidden='true')
                .view-table
                  a.o-showView2(href='#', title='Таблица')
                    i.fa.fa-table.fa-3x(aria-hidden='true')
                .view-icon
                  a.o-showView3(href='#', title='Средние значки')
                    i.fa.fa-picture-o.fa-2x(aria-hidden='true')
                .view-big-icon
                  a.o-showView4(href='#', title='Крупные значки')
                    i.fa.fa-picture-o.fa-3x(aria-hidden='true')
            // /change-view
            .view
              #o-view1.list
                .element
                  img(src='img/rosatom-logo.jpg', alt='logo')
                  a(href='company', title='Перейти на страницу профиля компании') Название компании
                .element
                  img(src='img/rosatom-logo.jpg', alt='logo')
                  a(href='company', title='Перейти на страницу профиля компании') Название компании
              #o-view2.table
                table.table
                  thead
                    tr
                      th Компания
                      th Отрасль экономики
                      th Размер предприятия
                  tbody
                    tr
                      td
                        a(href='#', title='Перейти на страницу компании') Название компании
                      td Атомная промышленность
                      td Крупное
                    tr
                      td
                        a(href='#', title='Перейти на страницу компании') Название компании
                      td Атомная промышленность
                      td Крупное
              #o-view3.icon
                .element
                  a(href='company', title='Перейти на страницу компании')
                    img(src='img/rosatom-logo.jpg', alt='icon')
                .element
                  a(href='company', title='Перейти на страницу компании')
                    img(src='img/rosatom-logo.jpg', alt='icon')
              #o-view4.big-icon
                .element
                  a(href='company', title='Перейти на страницу компании')
                    img(src='img/rosatom-logo.jpg', alt='icon')
                .element
                  a(href='company', title='Перейти на страницу компании')
                    img(src='img/rosatom-logo.jpg', alt='icon')
          // /search-results-organization
        // /row
      .space
      .space
      footer
        .container
          .row.contacts
            .col-md-3.col-md-offset-1.col-xs-4.col-sm-4.address
              i.fa.fa-map-marker.fa-2x(title='')
              | Правильный адрес
            .col-md-3.col-md-offset-1.col-xs-4.col-sm-4.mail
              i.fa.fa-envelope-o.fa-2x(title='')
              | info@da-strateg.ru
            .col-md-3.col-md-offset-1.col-xs-4.col-sm-4.phone
              i.fa.fa-phone.fa-2x(title='')
              | +7 499 400-56-39
      // Slider
      script(src='js/slides.min.jquery.js')
      script(type='text/javascript').
        $(document).ready(function() {
        $('.carousel').carousel({
        interval: 3000
        })
        });
      script(type='text/javascript').
        $("[data-toggle=tooltip]").tooltip(); //всплывающие подсказки (не работают)
      // /Slider
      // Выбор вида. Поиск отчета
      script(type='text/javascript').
        $(document).ready(function(){
        $(".showView1").click(function(){
        $("#view1").slideToggle("slow"); //показать view1 - список, остальные скрыть
        $("#view2").hide();
        $("#view3").hide();
        $("#view4").hide();
        return false;
        });
        });
        $(document).ready(function(){
        $(".showView2").click(function(){
        $("#view2").slideToggle("slow"); //показать view2 - таблица, остальные скрыть
        $("#view1").hide();
        $("#view3").hide();
        $("#view4").hide();
        return false;
        });
        });
        $(document).ready(function(){
        $(".showView3").click(function(){
        $("#view3").slideToggle("slow"); //показать view3 - средние значки, остальные скрыть
        $("#view1").hide();
        $("#view2").hide();
        $("#view4").hide();
        return false;
        });
        });
        $(document).ready(function(){
        $(".showView4").click(function(){
        $("#view4").slideToggle("slow"); //показать view4 - крупные значки, остальные скрыть
        $("#view1").hide();
        $("#view2").hide();
        $("#view3").hide();
        return false;
        });
        });
      // /Выбор вида. Поиск отчета
      // Выбор вида. Поиск организации
      script(type='text/javascript').
        $(document).ready(function(){
        $(".o-showView1").click(function(){
        $("#o-view1").slideToggle("slow"); //показать o-view1 - список, остальные скрыть
        $("#o-view2").hide();
        $("#o-view3").hide();
        $("#o-view4").hide();
        return false;
        });
        });
        $(document).ready(function(){
        $(".o-showView2").click(function(){
        $("#o-view2").slideToggle("slow"); //показать o-view2 - таблица, остальные скрыть
        $("#o-view1").hide();
        $("#o-view3").hide();
        $("#o-view4").hide();
        return false;
        });
        });
        $(document).ready(function(){
        $(".o-showView3").click(function(){
        $("#o-view3").slideToggle("slow"); //показать o-view3 - средние значки, остальные скрыть
        $("#o-view1").hide();
        $("#o-view2").hide();
        $("#o-view4").hide();
        return false;
        });
        });
        $(document).ready(function(){
        $(".o-showView4").click(function(){
        $("#o-view4").slideToggle("slow"); //показать o-view4 - крупные значки, остальные скрыть
        $("#o-view1").hide();
        $("#o-view2").hide();
        $("#o-view3").hide();
        return false;
        });
        });
      // /Выбор вида. Поиск организации
      // Отобразить поле с результатами поиска в зависимости от выбранной вкладки
      // Не работает, но переключении происходит при нажатии на Поиск
      script(type='text/javascript').
        $(document).ready(function(){
        $("#search-report").click(function(){
        $(".search-results-report").show();
        $(".search-results-organization").hide();
        return false;
        });
        });
        $(document).ready(function(){
        $("#search-organization").click(function(){
        $(".search-results-organization").show();
        $(".search-results-report").hide();
        return false;
        });
        });
      // /Отобразить поле с результатами поиска в зависимости от выбранной вкладки
    // /wrapper
